<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="CodeStream"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeStream">


    <activity android:name=".ui.main.MainActivity" android:exported="false" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ui.certificate.CertificateActivity" />
        <activity android:name=".ui.certificate.CertificateDetailActivity" />

        <activity android:name=".ui.profile.EditProfileActivity" />
        <activity android:name=".ui.course.CourseDetailActivity" android:exported="false" />
        <activity android:name=".ui.course.PaymentActivity" android:exported="false" />
        <activity android:name=".ui.course.CourseDashboardActivity" android:exported="false" />
        <activity android:name=".ui.course.VideoLessonActivity" android:exported="false" />
        <activity android:name=".ui.course.DocumentLessonActivity" android:exported="false" />

    </application>

</manifest>
